<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar empregado</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="min-h-screen bg-slate-400 grid place-items-center">
    <form action="/edit/{{id}}" method="post">
        <fieldset class="p-5 rounded-xl bg-slate-200 grid grid-cols-2 gap-3 text-lg shadow-xl">
            <legend class="text-xl font-semibold">Adicionar empregado</legend>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" value="{{result.nome}}">
            <label for="salario_bruto">Salário bruto:</label>
            <input type="number" name="salario_bruto" id="salario_bruto" step="0.01" value="{{result.salario_bruto}}">
            <label for="departamento">Departamento:</label>
            <select name="departamento" id="departamento">
                <option value="1">Administrativo</option>
                <option value="2">Designer</option>
                <option value="3">Contabilidade</option>
                <option value="4">Fábrica</option>
                <script>
                    document.forms[0].departamento.value = {{result.departamento}};
                </script>
            </select>
            <button type="submit">Enviar</button>
            <a href="/show">Mostrar empregados</a>
        </fieldset>
    </form>
</body>

</html>
