body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #b4b4b4;
}

main {
    background: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

main:not(:has(table)) {
    width: min-content;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
    place-items: start;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 0.5rem;
}

a, a:visited {
    color: #0000ff;
}
